h1{
    text-align: center;
    margin: 12px 0;
} 
.myForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.myInput, .desc{
    width: 45%;
    padding: 7px;
    margin: 7px;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 13px;
    outline: none;
}
.desc{
    resize: none;

}
.btn{
    padding: 10px 12px;
    font-size: 18px;
    background-color:#212324;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid black;
}